*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel__item{
    background-color: rgb(206, 27, 167);
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.carousel__item:hover ~ .carousel__item{
     transform: translate3d(100px, 0 , 0); /*Esta linea inidica que todos los elementos posteriores al item de la clase .carousel__item que se encuentra en estado hover, seran transladados 100px en el eje x. Propiedades translate3d(x,y,z)*/
}

.carousel__container:hover .carousel__item {
    opacity: 0.4; /* Esta linea de codigo indica que al momento de que el container(donde se alojan todos los items) todos los elementos con la clase .carousel_item tendran una opacidad de 0.3 en una escala de 0 a 1 o bien el 30% de su opacidad original. */
}

.carousel__container:hover .carousel__item:hover {
    transform: scale(1.3); 
    opacity: 1;
    /*Esta linea de codigo nos indica que unicamente el item, que se necuentre en estado hover recibira los cambios hechos dentro del selector*/
}