*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body{
    background: linear-gradient(207.8deg, #BEAEE2 16.69%, #73d6c6 100%); 
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 20px 0px 10px;
    font-size: 1.3rem;
    align-items: center;
}

.header__img{
    width: 200px;
    height: 50px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;

}

.header__menu li a{
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}


.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 10px;
    margin-bottom: 8px;
}

.header__menu--profile p{
    color: white;
    font-size: 1.5rem;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.main__title{
    color: white;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}

::placeholder{
    color: white;
}

footer{
    height: 169px;
}